## Automação de Indicadores

### Objetivo: Treinar e criar um projeto completo que envolva a automatização de um processo feito no computador

In [2]:
#Importações
import pandas as pd 
from pathlib import Path

In [5]:
#Lendo os dados das bases de dados

vendas_df = pd.read_excel(r'Bases de Dados/Vendas.xlsx')
emails_df = pd.read_excel(r'Bases de Dados/Emails.xlsx')
lojas_df =  pd.read_csv(r'Bases de Dados\Lojas.csv', encoding='latin1', sep=';')

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266